<div class="bg-white p-6 rounded-lg shadow-md max-w-3xl mx-auto mt-8">
  <%= @about_page.content %>

  <% if current_admin %>
  <div class="w-full flex justify-center items-center mt-16 gap-4">
    <%= link_to "Edit this page", edit_admin_about_path, class: "rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>
  </div>
<% end %>

</div>
